section.sidebar
  // search form (Optional)
  form.sidebar-form(action='#', method='get')
    .input-group
      input.form-control(type='text', name='q', placeholder='Search...')
      span.input-group-btn
        button#search-btn.btn.btn-flat(type='submit', name='search')
          i.fa.fa-search
  // /.search form
  // Sidebar Menu
  ul.sidebar-menu
    each item in menus
      - var active = {};
      if (item.subs) 
        - active = item.subs.filter((i) => { return i.href.indexOf(route.controller) > -1})[0]
        if (!active) 
          - active = {href:''}
      else
        - active.href= item.href

      li.treeview(class="#{(active.href || []).indexOf(route.controller) > -1? 'active': ''}")
          a(href="#{(item.href)? item.href : ''}")
            i.fa(class="#{item.icon}")
            span= item.name
            if (item.subs)
              i.fa.fa-angle-left.pull-right

          if (item.subs)
            ul.treeview-menu
              each sub in item.subs
                li(class="#{ (('/' + route.controller + '/' + route.action) == sub.href)? 'active' : ''}")
                  a(href="#{sub.href}")
                    i.fa.fa-circle-o
                    span= sub.name
  // /.sidebar-menu
// /.sidebar