extends ../layouts/console.jade

block right-content
  .col-xs-12
    .nav-tabs-custom
      ul.nav.nav-tabs
        li(class="#{(route.action == 'wechat_userlist')?'active':''}")
          a(href="/app/wechat_userlist") 用户管理
        li(class="#{(route.action == 'wechat_commands')?'active':''}")
          a(href="/app/wechat_commands") 命令管理
        li(class="#{(route.action == 'wechat_flow')?'active':''}")
          a(href="/app/wechat_flow") 流程管理
        li(class="#{(route.action == 'wechat_logs')?'active':''}")
          a(href="/app/wechat_logs") 日志管理
        li(class="#{(route.action == 'wechat_setting')?'active':''}")
          a(href="/app/wechat_setting") 配置

      .tab-content
        div.tab-pane.active
          block tab-content
  